.nav-container{
    color: white;
    background-color: #f4f4c8;
    /* background-image: url("giant-water-lilies-7686641.jpg"); */
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    letter-spacing: 0.2rem;
    position: fixed;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
  }
  .home-links{
    margin-right: 30px;
    text-decoration: none !important;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: black;
  }
  .nav-title{
    color: rgb(78, 78, 78);
  }
